*{
    
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

iframe{
    z-index: -1;
    opacity: 0.5;
    pointer-events: none;/*iframe의 마우스 선택여부를 없앰으로써 배경이 클릭되지 않도록 한다.*/
}
.text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}