body{
    margin: 0;
    padding: 0;
    background: rgb(63, 166, 214);
}

ul{
    padding: 50px;
    margin: 0;
    border: rgb(233, 255, 36) solid 10px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

ul li{
    list-style : none;
    color: rgb(233, 255, 36);
    float: left;
    font-size: 5em;
    font-family: Arial;
    transition: 1s;
}

ul:hover li{
    transform: rotateY(360deg);
}

ul:hover li:nth-child(1){
    transition-delay: 1s;
}
ul:hover li:nth-child(7){
    transform: rotatez(360deg);
}

ul:hover li:nth-child(8){
    transform: rotateY(90deg);
}