* {
    margin: 0;
    padding: 0;
}

body {
    background: greenyellow;
}

.container {
    border: 3px black solid;
    width: 500px;
    height: 300px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)skewY(-5deg);
    background-color: white;
    box-shadow:
        -1px -1px 0px black,
        -2px -2px 1px black,
        -3px -3px 2px black,
        -4px -4px 3px black;
        transition: .5s;
}

.container:after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 29px) rotate(45deg);
    bottom: 0;
    background-color: white;
    width: 50px;
    height: 50px;
    border-bottom: 3px black solid;
    border-right: 3px black solid;
}

.container::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50px);
    bottom: 0;
    background-color: black;
    width: 100px;
    height: 10px;
    border-radius: 50%;
    filter: blur(3px);
}

.container:hover
{
    transform: translate(-50%, -50%)skewY(5deg);
    box-shadow:
    1px -1px 0px black,
    2px -2px 1px black,
    3px -3px 2px black,
    4px -4px 3px black;
}